<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>Risk</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1997 Steve Nygard. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>Aimless</string>
	<key>RKAboutPlayerFile</key>
	<string>Aimless.rtf</string>
	<key>RKPlayerIcon</key>
	<string>Aimless.tiff</string>
	<key>RKPlayerTypeName</key>
	<string>Aimless</string>
	<key>RKSuperClass</key>
	<string>RiskPlayer</string>
</dict>
</plist>
