<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSignature</key>
	<string>Risk</string>
	<key>RKAboutPlayerFile</key>
	<string>Aimless.rtf</string>
	<key>RKPlayerIcon</key>
	<string>Aimless</string>
	<key>RKPlayerTypeName</key>
	<string>Aimless</string>
	<key>RKSuperClass</key>
	<string>RiskPlayer</string>
</dict>
</plist>
